*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: underline;
}

.header{
  display: flex;
  background: rgba(0, 0, 0, 0.00);
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  margin-top: 31.5px;
  margin-bottom: 25.5px;

}

.header__wrapper{
height: 82px;
margin: 0;
align-items: center;
gap: 140px;
justify-content: center;
}

.title__home{
width: 68px; 
height: 27px;
left: 0px;


}

.title__ptotoapp{
width: 131px; 
height: 27px;
left: 140px;


}

.title__design{
width: 87px; 
height: 27px; 
left: 343px;

}

.title__download{
width: 140px; 
height: 27px; 
left: 480px;

}

        
.title__style{
  text-align: center;
  color: #F00;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.section__img{
  margin-bottom: 116px;
}

.img__wrapper{
  width: 100%;
  background: url(../img/imege-ico.jpg) lightgray 50% / cover no-repeat;
}



/* .section{
  text-align: center;
} */

.title__img{
color: #373737;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 3.3px;
text-transform: uppercase;
}

.title__item{
display: flex;
flex-direction: column;
justify-content: flex-end;
flex-shrink: 0;
text-align: center;
}

.text__list{
color: #373737;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 2.4px;
padding: 28px 67.5px;
}

.text__item{
  margin-top: 38px;
  margin-bottom: 84px;
}

.button__item{
display: flex;
flex-direction: column;
justify-content: center;

}

.button{
display: block;
margin: 0 auto;
color: #FFF;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 12px; /* 100% */
letter-spacing: 1.8px;
text-transform: uppercase;
padding: 18px 43px;
border-radius: 4px;
background: #F00;
margin-bottom: 82px;
border: 0;
cursor: pointer;
}

/* footer start */
.footer{
  width: 100%;
  height: 100%;
  padding-left: 608px;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
}


.footer__text{
width: 462px;
height: 39px;
word-wrap: break-word;
color: #373737;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.4px;

}


/* footer end */

